{{> imageTemplate}}
<section>
    <h1>{{h1}}</h1>
    <ul>
    {{#each subsection}}
        <li>
            <h2>{{h2}}</h2>
            {{> imageTemplate}}
            {{> paragraphTemplate}}
            {{> buttonTemplate}}
            {{> videoTemplate}}
        </li>
    {{/each}}
    </ul>
</section>
{{> videoTemplate}}
