<section>
    <h1>{{h1}}</h1>
    <ul>
    {{#each subsection}}
        <li style="{{this.backgroundColor}}" style="{{this.color}}">
            {{#if h2}}
            <h2>{{h2}}</h2>
            {{/if}}
            <div class="subsubsection">
                {{> imagePartial}}
                {{> paragraphPartial}}
            </div>
            {{> buttonPartial}}
            {{> videoPartial}}
        </li>
    {{/each}}
    </ul>
</section>