body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#skip-button {
    text-decoration: none;
    text-align: center;
    background-color: white;
    color:#2d396d;
}

header {
    /*background-color: rgb(14, 153, 212);*/
    background-color: #2d396d;
    display: flex;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 5em;
}

#phone {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

nav {
    /*background-color: rgb(207, 59, 0);*/
    background-color: #ab2326;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline-start: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    cursor: pointer;
}

main img {
    width: -webkit-fill-available;
}

section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section h1 {
    color: #2d396d;
}

section ul {
    list-style: none;
    padding-inline-start: 0;
    text-align: start;
}

footer {
    background-color: #2d396d;
    display: flex;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.7em;
    
}

footer p {
    margin: 0;
}

footer small {
    padding: 0.5em;
}

@media (min-width: 601px) {
    header{
        flex-direction: row;
        justify-content: space-between;
    }
}